@font-face {
        font-family: 'Captain America';
        src: url("American Captain.ttf");
}

@font-face {
        font-family: 'Spiderman';
        src: url("HOMOARAK.ttf");
}


body {
    background: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
    background-image: url("background.jpg");
    font-family: 'Open Sans', 'Arial', 'Lucida Grande', sans-serif;
    
}   
p#again {
    background-color: #b40404;
    font-family: 'Captain America';
    padding-top: 20px;
    padding-bottom: -5px;
    font-size: 100px;
        text-align: center;
    color: white;

}

#playAgain {
    font-size: 100px;
    font-family: 'Captain America';

    
}

h1 {
    color: white;
    font-family: 'Captain America';
    width: 50%;
    background-color: #b40404;
    height: 60px;
    text-align: center;
    font-size: 75px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: justify;
    margin-top: 50px;
}



#playAgain
{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-family: "Captain America";
    font-weight: 200;
    font-size: 20px;
    color: white;
    background-color: #b40404;
    border: transparent;
}


playAgain {
    display: center;
    margin: auto;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 14px;
    font-family: 'Captain America';
    color: #b40404;
}